<style>
    [id^=modal_add_] .selected {
       background-color: #e0f1af !important;
   }

   [id^=modal_add_] tr {
       cursor: pointer;
   } 

   .my-error{
       margin-top: 5px;
       color: #B94A48 !important;
       background-color: #F2DEDE !important;
       border: 1px solid #EED3D7 !important;
       padding: 10px;
   }    
</style>

<div class="modal fade" id="modalAddDesktop" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddDesktop" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Deployment desktops to users
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalAdd" class="form-inline form-label-left">
               <div class="x_panel">
                  <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Deployment</h4>
                  <div class="x_content" style="padding: 0px;">
                     <div class="row">
                        <div class="col-md-6 col-xs-12">
                           <label class="control-label" for="tag">Deployment name <span class="required">*</span>
                           </label>
                           <input id="tag" class="roundbox" maxlength="40" pattern="^[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="tag" placeholder="Deployment name" data-parsley-trigger="change" required type="text" style="width:100%">
                        </div>
                        <div class="col-md-6 col-xs-12">
                           <label>Visible to users</label>
                           <div class="checkbox">
                              <label class="">
                                 <div class="icheckbox_flat-green" style="position: relative;">
                                    <input type="checkbox" id="tag_visible" name="tag_visible" class="flat"  style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                    </ins>
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="x_panel">
                  <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Desktop name and description</h4>
                  <div class="x_content" style="padding: 0px;">
                     <div class="row">
                        <div class="col-md-4 col-xs-12">
                           <label class="control-label" for="name">Name <span class="required">*</span>
                           </label>
                           <input id="name" class="roundbox" maxlength="40" pattern="^[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required type="text" style="width:100%">
                        </div>
                        <div class="col-md-8 col-xs-12">
                           <label class="control-label" for="description">Description 
                           </label>
                           <input id="description" class="roundbox" name="description" placeholder="Desktop description"  type="text" style="width:100%">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="x_panel">
                  <h4><i class="fa fa-cubes" aria-hidden="true"></i> Select a template</h4>
                  <input  id="template" name="template" type="hidden" required>
                  <table id="modal_add_desktops" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Group</th>
                           <th>User</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
                  <div id="datatables-error-status"></div>
               </div>
               <div class="x_panel" id="hardware-block" style="display: none;">
                  <h4><i class="fa fa-gear" aria-hidden="true"></i> Hardware</h4>
                  {% include '/snippets/domain_hardware_edit.html' %}
               </div>
               <div class="x_panel" id="alloweds-block" style="display: block;">
                  <p style="font-size: 18px;margin-bottom:0px;">Users to create this desktop</p>
                  <div id="alloweds-videos-add">
                     {% include '/snippets/alloweds_add.html' %}
                  </div>
               </div>
            </form>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                  <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                  </li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <li><button id="btn-hardware" type="button" class="btn btn-info" style="display: none;">Set hardware</button></li>
                  <li><button id="send-block" type="button" class="btn btn-success">Create deployment</button></li>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>